/* Navigation bar */
nav {
  background-color: #3b4b21;
}

.navbar {
  padding: 0;
}

/* navigation bar */
.navbar_ab {
  background-color: #3b4b21;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* hyperlinks on right of navbar */
.navbar_ab a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-nav {
  -bs-nav-link-hover-color: white;
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: white;
}

/* when uer hovers over hyperlinks in navbar */
.nav_hyper:hover {
  background-color: #636e35;
  color: white;
}

/* Icon top left in navbar */
.navbar_ab svg {
  height: 30px;
  width: auto;
  fill: white;
  vertical-align: middle;
  margin: 8px 16px; /* add space around it */
}
