body {
    background-image: url(../../public/green-hair-styling-stations-1024x768.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

/* Navigation bar */
nav{
    background-color: #3b4b21;
}

.navbar {
    padding: 0;
}

/* navigation bar */
.navbar_ab {
    background-color: #3b4b21;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  /* hyperlinks on right of navbar */
  .navbar_ab a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.navbar-nav{
    -bs-nav-link-hover-color: white;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;
}

  
/* when uer hovers over hyperlinks in navbar */
.nav_hyper:hover {
    background-color: #636e35;
    color: white;
  }

 /* color of book button*/
.book-btn{
    background-color: #58351C;
}

 /* hover color when user hovers book app button */
.book-btn:hover{
    background-color: #80573a;
}

 /* Icon top left in navbar */
.navbar_ab svg {
    height: 30px;
    width: auto;
    fill: white;
    vertical-align: middle;
    margin: 8px 16px; /* add space around it */
}


 /*body of page*/

/*background*/
#bg-img {
    width: 100%;
    height: 50rem;
}

/* #bg-img-box {
    background-image: url(../../public/green-hair-styling-stations-1024x768.jpg);
} */


 /* color of book button in middle of page*/
#book_btn {
    background-color: #58351C;
    border-radius: 25px;
}

 /*BotaniCuts font*/
#title{
    color: white;
    font-size: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 2rem;
    margin-bottom: 2rem;
}


.title-box{
    display: flex;
    justify-content: center;
    flex-direction: row;

    background-color: #3b4b21;
    
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 1rem;
    margin-top: 10rem;

    box-sizing: border-box;
    padding: 0;
    
    border-radius: 25px;

}


 /*book appointement btn*/
#app-btn{

    background-color: #58351C;
    color: white;
    
    border-color: #58351C;

    font-size: 50px;

    border-radius: 10px;
}

 /*container that holds both the title + book app btn*/
.app-btn-container{
    display: flex;
    justify-content: center;
}

/*introduction to salon*/
 .title-box-scroll{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 50rem;
 }

 .title-scroll{
    color: white;
 }

/*introduction to salon paragraph*/
.intro-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.intro-text{
    color: white;
}
