body {
    background-image: url(../assets/green-hair-styling-stations-1024x768.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}



 /* color of book button*/
.book-btn{
    background-color: #58351C;
}

 /* hover color when user hovers book app button */
.book-btn:hover{
    background-color: #80573a;
}

 /*body of page*/

/*background*/
#bg-img {
    width: 100%;
    height: 50rem;
}



 /* color of book button in middle of page*/
#book_btn {
    background-color: #58351C;
    border-radius: 25px;
}

 /*BotaniCuts font*/
.title{
    color: white;
    font-size: 100px;
    font-family: Agbalumo;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title p {
    font-size: 50px;
    text-align: center;
}


.title-box{
    display: flex;
    justify-content: center;
    flex-direction: row;

    background-color: #3b4b21;
    
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 1rem;
    margin-top: 10rem;

    box-sizing: border-box;
    padding: 0;
    
    border-radius: 25px;

}


 /*book appointement btn*/
#app-btn{

    background-color: #58351C;
    color: white;
    
    border-color: #58351C;

    font-size: 50px;

    border-radius: 10px;

    padding: 1rem;
}

 /*container that holds both the title + book app btn*/
.app-btn-container{
    display: flex;
    justify-content: center;
}

/*introduction to salon*/
 .title-box-scroll{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 20rem;
 }

 .title-scroll{
    color: #3b4b21;
    font-family: Agbalumo;
 }

/*introduction to salon paragraph*/
#bg-intro{
    background-color: white;
}


.intro-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.intro-text{
    color: #3b4b21;
    text-align: center;
}



* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
    width:100%
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }

  .footer p,h5 {
    color: #3b4b21;

    display: flex;
    justify-content: center;
  }

  h5 {
    font-size: 25px;
  }

  .footer{
    background-color: white;
  }
  
